<section>
<div class="banner ">
<div class="col-md-12 mt-5">
  <h1 class="text-center text-black ">Our Services</h1>
</div>

<div class="container ">
  <div class="col-md-12 ">
    <div class="row">
      <div class="col-md-6 col-sm-6">
        <img class="img-fluid" src="../../assets/—Pngtree—devices responsive web design_3540001.png">
      </div>
      <div class="col-md-6 col-sm-6 mt-5">
        <h3 class="text-left text-black mt-5">Web Development & Web Application</h3>
        <p class="text-gray lead text-right mt-4 p2">Our Company gives you an powerfull Web Technology and make an perfect WebSite and Web Application.</p>
      </div>
    </div>
  </div>
</div>
</div>
</section>
