<div class="container">
  <div class="col-md-12">
    <h2 class="text-center mt-2">Follow Us</h2>
  </div>
  <div class="col-md-12 col-sm-12 d-flex justify-content-around mt-5 mx-auto">
    <div class="row">
        <div class="co-md-4 ml-5 mr-5 mb-2">
            <div class="card">
              <div class="card-header" style="background-color:#475993;">
                <h4 class="text-white">Facebook</h4>
              </div>
              <div class="card-body">
                  <img class="img-fluid rounded-circle" src="../../assets/facebook.png" width="200px" height="200px" alt="">
              </div>
              <div class="card-footer b1">
                <button class='btn btn-primary' routerLink="https://www.facebook.com/amar.prajapati.980315">Follow Us</button>
              </div>
            </div>
        </div>
        <div class="co-md-4 ml-5 mr-5 mb-2">
        <div class="card">
          <div class="card-header " style="  background:linear-gradient(45deg,#FFB54E,#D33D93);">
            <h4 class="text-white">Instagram</h4>
          </div>
          <div class="card-body">
              <img class="img-fluid rounded-circle" src="../../assets/instagram.png" width="200px" height="200px" alt="">
          </div>
          <div class="card-footer b2">
            <button class='btn btn-primary'>Follow Us</button>
          </div>
        </div>
    </div>
    <div class="co-md-4 ml-5 mb-2">
      <div class="card">
        <div class="card-header " style="background-color: #F14336;">
          <h4 class="text-white">Google Mail</h4>
        </div>
        <div class="card-body">
            <img class="img-fluid rounded-circle" src="../../assets/search.png" width="200px" height="200px" alt="">
        </div>
        <div class="card-footer b3">
          <button class='btn btn-primary '>Follow Us</button>
        </div>
      </div>
  </div>

    </div>
  </div>

