<div class="container">
  <div class="col-md-12"></div>
  <div class="col-md-12 col-sm-12">
    <div class="row">
      <div class="col-md-6 col-sm-6">
        <img class="img-fluid" src="../../assets/—Pngtree—programming and web technology vector_4089305.png">
      </div>
      <div class="col-md-6 col-sm-6 mt-5 p-3">
          <h2 class="test-right ">About us</h2>
        <p class='lead mt-3 text-right'>Our Company Headquaters in India,
          Since 2020,
          Co-founder is Amar Prajapati,
          This Web Application is based on Angular 10.

        </p>
        <h4 class='blockquote-footer text-right font-weight-bold'>Amar Prajapati</h4>
      </div>
    </div>
  </div>
</div>
