<div id="header">
  <div class="container">
      <div class="row">
          <div class="col-md-4" id="logo">
             <a routerLink="/"><h1 class="text-white">Web Station</h1></a>
          </div>
          <div class="col-md-8">
              <ul id="menu" class="float-md-right float-sm-right">
                  <li><a  routerLinkActive="active" routerLink="/">Home</a></li>
                  <li><a routerLinkActive="active" routerLink="/services">Sevices</a></li>
                  <li><a routerLinkActive="active" routerLink="/contact-us">Contact</a></li>
                  <li><a routerLinkActive="active" routerLink="/follow-us">Follow Us</a></li>
                  <li><a routerLinkActive="active" routerLink="/about-us">About Us</a></li>
                  <!-- <li><div class="custom-control custom-switch">
                    <input type="checkbox" class="custom-control-input" id="switch1">
                    <label class="custom-control-label" for="switch1">Dark Mode</label>
                  </div></li> -->
              </ul>
          </div>
      </div>
  </div>
</div>

<router-outlet></router-outlet>
<!-- <div class=" footer-nav bg-dark position-bottom">
<ul class="nav">
  <li class="nav-item"><a href="" class="nav-link">Web Station</a></li>
</ul>
</div> -->
