<section>
<div id="header">
  <div class="container">
    <div class="col-md-12 mt-2">
      <div class="row">
        <div class="col-md-6">
          <img id="side-img" class="img-fluid" src="../../assets/—Pngtree—modern flat design concept of_5332865.png" alt="">
        </div>
        <div class="col-md-6 mt-5">
          <h1 class="text-right font-weight-bolder" id="heading1" style="color: #683BA4;">Web Station</h1>
          <p class="lead text-right mt-4 p-2 ">Our Company gives many types of services like., Web Design, Web Development, Web Application Development, Mobile Application Development and also Wordpress and SEO.</p>

          <footer class="blockquote-footer text-right font-weight-bold">Amar Prajapati</footer>
        </div>
      </div>
    </div>
  </div>
</div>
<hr>
</section>
